.product-details > div {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.product-details > div > .as-producttile-info {
    flex: 1
}

.product-details .as-producttile-info {
    text-align: center;
}

.product-details div.mercadopago-button {
    width: 100%;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 20px;
}

 
.product-details div.mercadopago-button button {
    width: 100%;
    text-align: center;
}


@media (max-width: 768px) {
    .product-details > div {
        flex-direction: column;
    }

    .product-details .item-image {
        max-width: 300px;
    }
}


.payment-feedback {
    max-width: none !important;
    margin: 0 !important;
}


.payment-feedback .as-search-navbar {
    padding: 0 !important;
}

.payment-feedback .as-accessories-filter-tile.approved {
    background: #26b36a;
}

.payment-feedback .as-accessories-filter-tile.rejected {
    background: #f23d4f;
}

.payment-feedback .as-accessories-filter-tile.pending {
    background: #f73;
}

.payment-feedback .as-accessories-filter-tile,
.payment-feedback .as-accessories-filter-tile .as-filter-button {
    width: 100%;
    margin: 0;
    padding: 50px 0;
}


.payment-feedback h2 {
    text-align: center;
    color: white;
}


.payment-feedback .as-accessories-filter-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    margin: 34px 0;
}

.payment-feedback .as-accessories-filter-tile .back-button {
    color: white;
    font-size: 21px;
    padding: 10px 28px;
    border: 1px solid white;
    border-radius: 6px;
    text-decoration: none;
}